/* font-family: 'Forum', cursive;
font-family: 'Reem Kufi', sans-serif;
font-family: 'Abel', sans-serif; */

p {
  font-family: 'Abel', sans-serif;
  font-size: 16px;
}

h1{
  font-family: 'Reem Kufi', sans-serif;
  font-size: 50px;
}

h2 {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 20px;
}

h3 {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
}

.hero{
  border: 15px solid rgba(65,105,225);
}

.hero-one{
  background-image: url(../resources/norwayhouse.jpg);
  background-size: cover;
  background-position: center;
}

.hero-two{
  display: flex;
  background-color: LightYellow;
}

.hero-three{
  background-color: LightYellow;
}

.hero-four{
  background-image: url(../resources/Iceland.jpg);
  background-size: cover;
  background-position: center;
}

.techlist{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
}

.devicon {
  Font-size: 3rem;
  padding-bottom: 5px;
  display: flex;
}

small {
  font-family: 'Abel', sans-serif;
  font-size: 1rem;
}

.profpic{
  height: 200px;
  width: auto;
  border-radius: 20px;
}

.title{
  font-family: 'Abel', sans-serif;
  font-size: 80px;
  color: LightYellow;
}
.subtitle{
  font-family: 'Abel', sans-serif;
  font-size: 50px;
  color: LightYellow;
}

.projtitle{
  font-family: 'Reem Kufi', sans-serif;
  font-size: 60px;
}

.info{
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

@media only screen and (max-width: 400px) {

  p {
    font-family: 'Abel', sans-serif;
    font-size: 12px;
  }

  h1{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 35px;
  }

  h2 {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 20px;
  }

  h3 {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
  }

  .hero{
    border: 15px solid rgba(65,105,225);
  }

  .techlist{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .devicon {
    Font-size: 2rem;
    padding-bottom: 5px;
    display: flex;
  }

  small {
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
  }

  .profpic{
    height: 100px;
    width: auto;
    border-radius: 20px;
  }

  .title{
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    color: LightYellow;
  }
  .subtitle{
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    color: LightYellow;
  }

  .projtitle{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 30px;
  }

  .infosection{
    display: none;
  }

}
