/* font-family: 'Forum', cursive;
font-family: 'Reem Kufi', sans-serif;
font-family: 'Abel', sans-serif; */

/* html{
  scroll-behavior: smooth;
} */

a {
  color:#4a4a4a;;
}

a:hover {
  color: rgba(65,105,225) ;
}

p {
  font-family: 'Abel', sans-serif;
  font-size: 17px;
}

h1{
  font-family: 'Reem Kufi', sans-serif;
  font-size: 50px;
}

h2 {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 20px;
}

h3 {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
}

.active{
  background-color: rgba(0,0,0,0.3);
}




.hero{
  border: 15px solid rgba(65,105,225);
}

.hero-one{
  background-image: url(../resources/minimalist.jpeg);
  background-color: LightYellow;
  background-size: cover;
  background-position: center;
  
}

.hero-two{
  display: flex;
  background-color: LightYellow;
}

.hero-three{
  background-color: LightYellow;
}

.hero-four{
  /* background-image: url(../resources/Iceland.jpg); */
  background-size: cover;
  background-position: center;
}

.techlist{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
}

.devicon {
  Font-size: 3rem;
  padding-bottom: 5px;
  display: flex;
}

small {
  font-family: 'Abel', sans-serif;
  font-size: 1rem;
}

.profpic{
  height: 200px;
  width: auto;
  border-radius: 20px;
}

.title{
  font-family: 'Abel', sans-serif;
  font-size: 60px;
  color: rgb(248, 245, 55);
  background-color: rgba(0,0,0,0.3);
  padding: 20px 50px;
}
.subtitle{
  font-family: 'Abel', sans-serif;
  font-size: 50px;
  color: LightYellow;
}

.projtitle{
  font-family: 'Reem Kufi', sans-serif;
  font-size: 60px;
}

.info{
  font-family: 'Reem Kufi', sans-serif;
  font-size: 20px;
}

.linkedinpic{
  display: none;
}

.shape{
  height:2px;
  width:1000px;
  background-color: grey;
  position: relative;
  margin-left: -75%;
  margin-bottom: 50px;
}
.shape2{
  height:2px;
  width:1000px;
  background-color: gold;
  position: relative;
  margin-left: 100%;
  margin-top: 50px;
}
.shape3{
  height:2px;
  width:1000px;
  background-color: navy;
  position: relative;
  margin-left: -75%;
  margin-bottom: 50px;
}
.shape4{
  height:2px;
  width:1000px;
  background-color: crimson;
  position: relative;
  margin-left: 100%;
  margin-bottom: 50px;
}

.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(65,105,225);
}

.navbar__menu li a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 0 100px;
   
}
.navbar__menu li a:hover{
  color: rgba(238, 255, 0);
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}


/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* ///////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 400px) {

  .navbar__menu ul {    
      text-align: center;
      display: block;
      padding-left: 30px; 
  }

  p {
    font-family: 'Abel', sans-serif;
    font-size: 12px;
  }

  h1{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 35px;
  }

  h2 {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 20px;
  }

  h3 {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
  }

  .nav-item{
    font-size: 20px;
  }

  .hero{
    border: 15px solid rgba(65,105,225);
  }

  .techlist{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 1px;
  }

  .devicon {
    Font-size: 2rem;
    padding-bottom: 5px;
    display: flex;
  }

  small {
    font-family: 'Abel', sans-serif;
    font-size: 10px;
  }

  .profpic{
    height: 100px;
    width: auto;
    border-radius: 20px;
  }

  .title{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    color: rgba(65,105,225);
    padding: 50px 0;
  }
  .subtitle{
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    color: LightYellow;
  }

  .projtitle{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 30px;
  }

  .infosection{
    display: none;
  }

  .linkedinpic{
    display: none;
  }

  .shape, .shape2, .shape3, .shape4, .shape5, .shape6 {
    display: none;
  }

}
@media only screen and (max-width: 700px){
  .navbar__menu ul {    
      text-align: left;
      display: block;
  }

}